html {
    font-size: 100px;
}

body {
    margin: .3rem .2rem;
    color: #555;
    font-family: inconsolata;
    font-size: .15rem;
    line-height: .18rem;
    tab-size: 4;
    overflow: auto;
    font-weight: normal;
}

header {
    color: #333;
    font-size: .25rem;
    margin: .1rem 0 .2rem 0;
}

p {
    margin: .1rem 0;
    line-height: 1.4em;
    text-indent: 2em;
}

h2 {
    color: #526a17;
    font-size: .18rem;
    margin-top: .40rem;
    font-weight: normal;
}

h4 {
    color: rgb(189, 97, 54);
    font-weight: 500;
    font-size: .15rem;
    margin-top: .2rem;
}

h6{
    color: rgb(243, 74, 7);
    font-weight: 600;
    font-size: .14rem;
    margin-top: .2rem;
}

img {
    max-width: 100%;
    float: right;
}

pre.prettyprint {
    display: block;
    font-family: inconsolata;
    border: none;
    outline: none;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 1.6em;
    background-color: #fafafa;
}

a {
    color: #4e96cb;
    text-decoration: underline;
    background-color: #d9dfe1;
}

a.list {
    list-style-type: unset;
    display: list-item;
    margin-left: 2em;
    background-color: white;
    margin-top: .1rem;
}

li {
    line-height: 1.6em;
    margin-left: 2em;
    list-style-type: disc;
}

.bingo,
.warn,
.error {
    background-size: .2rem auto;
    background-position: left top;
    background-repeat: no-repeat;
}

.error {
    background-image: url('../../images/error.png');
}

.warn {
    background-image: url('../../images/warn.png');
}

.bingo {
    background-image: url('../../images/bingo.png');
}

.help_link {
    background-color: #657c8a;
    border: none;
    border-left: .1rem solid white;
    outline: .5rem solid #657c8a;
    margin-top: .7rem;
}

.help_link>a {
    text-decoration: none;
    background-color: inherit;
    color: white;
    line-height: 2em;
    display: block;
    margin-left: .3rem;
}
