/**
* 统一不同浏览器的基础样式
*
* @since v0.1.0
* @public
*
* 引入方式：
* import '@yelloxing/normalize.css';
*/

html {
    /*
  ------------------
  防止iPhone在坚屏转向横屏时放大文字
  ------------------
  */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*
  ------------------
  统一行高
  ------------------
  */
    line-height: 1.15;
}

button,
input {
    /*
  ------------------
  兼容部分手机下border不显示问题
  ------------------
  */
    border: 1px solid #b2b2bd;
}

article,
footer,
header,
nav,
section {
    /*
  ------------------
  修正旧浏览器未定义的块级元素
  ------------------
  */
    display: block;
}

canvas,
svg {
    /*
  ------------------
  修正旧浏览器未定义的行内块元素
  ------------------
  */
    display: inline-block;
}

* {
    /*
  ------------------
  统一不同浏览器盒子尺寸计算方法
  ------------------
  */
    box-sizing: border-box;
}

::-ms-clear,
::-ms-reveal {
    /*
  ------------------
  去掉IE浏览器输入框叉叉和眼睛
  ------------------
  */
    display: none;
}

img {
    /*
  ------------------
  针对火狐浏览器在img标签没有src时候的差异修复
  ------------------
  */
    display: inline-block;
}

html {
    /*
  ------------------
  设置默认字体为统一的安全字体
  ------------------
  */
    font-family: sans-serif;
}

a {
    /*
  ------------------
  默认去掉下划线
  ------------------
  */
    text-decoration: none;
}

li {
    /*
  ------------------
  去掉前置索引
  ------------------
  */
    list-style-type: none;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /*
  ------------------
  去掉不喜欢的间距
  ------------------
  */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    /*
  ------------------
  去掉不喜欢的间距，针对火狐浏览器等
  ------------------
  */
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    /*
  ------------------
  修改IE和其它浏览器不一致问题
  ------------------
  */
    padding: 0;
    margin: 0;
}

body {
    /*
  ------------------
  去掉默认的8px
  ------------------
  */
    margin: 0;
}

table {
    /*
  ------------------
  设置默认表格边框合并为一个单一的边框
  ------------------
  */
    border-collapse: collapse;
}

html {
    font-size: 100px;
}

body {
    font-size: .16rem;
}

body>header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    line-height: .42rem;
    color: #bc6036;
    padding-left: calc(50vw - 5.5rem);
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

body>header>h2 {
    font-size: .2rem;
    font-family: fantasy;
    background-image: url('./image3D.png');
    background-position: left center;
    background-size: .3rem auto;
    background-repeat: no-repeat;
    padding-left: .4rem;
    margin-left: .3rem;
}

body>header>.github {
    position: fixed;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: .6rem;
    line-height: 1.6em;
    right: -.6rem;
    background-color: #bc6036;
    outline: .04rem solid #bc6036;
    -webkit-transform-origin: 1.5rem .23rem;
    -ms-transform-origin: 1.5rem .23rem;
    transform-origin: 1.5rem .23rem;
    border: .02rem dashed #f9d38e;
    width: 3rem;
    text-align: center;
    color: #ebdbd9;
    font-family: sans-serif;
}

body>div {
    padding: .5rem calc(50vw - 5.5rem) 0.1rem;
}

body>.content {
    padding-left: 1.6rem;
}

body>.content>h4 {
    line-height: 3em;
    color: red;
}

body>.content>p {
    margin: .2rem 0;
    line-height: 1.4em;
}

pre {
    line-height: 1.6em;
}

body>.content>h6 {
    color: blue;
    font-size: .14rem;
}

body>.content>ul>li {
    line-height: 2em;
    font-size: .13rem;
}

li>ul {
    margin: 0 .2rem;
}

body>footer {
    padding: .4rem .1rem;
    text-align: center;
    background-color: #f6f9fa;
    font-size: .12rem;
}

body>footer>ul {
    padding-bottom: .2rem;
}

body>footer>em {
    font-style: normal;
    font-family: cursive;
}

body>footer a {
    font-weight: bold;
    color: #000;
}

body>footer>ul>li {
    display: inline-block;
    padding: 0 .2rem;
    line-height: 1.2em;
}

body>footer>ul>li:not(:last-child) {
    border-right: 1px solid #000;
}

body>footer a {
    font-weight: bold;
    color: #000;
}

body>header ul {
    padding-right: calc(50vw - 5.5rem);
    position: absolute;
    right: 1rem;
    color: #030303;
}

body>header ul li[active='yes'] {
    color: #f10c0c;
    border-bottom: 3px solid red;
}

body>header ul li {
    padding: 0 .05rem;
    font-size: .12rem;
    cursor: pointer;
    font-weight: bold;
}

body>header * {
    display: inline-block;
}

table.type1 {
    line-height: 2em;
    border-width: 2px 0;
    margin-bottom: .2rem;
}

table.type1,
table.type1 thead {
    border-style: solid;
}

table.type1 thead {
    font-weight: 800;
    border-width: 0 0 2px 0;
}

table.type1 td {
    padding: 0 .1rem;
}

.content p>a {
    margin: 0 .1rem;
    background-color: rgb(8, 156, 241);
    color: white;
    text-decoration: underline;
    padding:0 .05rem;
}

table.type1 pre {
    background-color: rgba(246, 246, 248, 0);
    padding: 0;
    line-height: 1em;
}
